.all-response-container {
  @include searchPageFormat();
  padding: 1rem 2rem;
  max-width: 100%;
}
.results-info {
  font-family: Google Sans, arial, sans-serif;
  color: #70757a;
  font-size: 14px;
}
.all-response-content-container {
  padding-top: 1rem;
  display: grid;
  gap: 2.4rem;
  max-width: 100%;
}
.all-response-content {
  a {
    color: #1a0dab;
    text-decoration: none;
    .url {
      color: #202124;
      font-style: normal;
      font-size: 14px;
      line-height: 1.3;
      font-family: arial, sans-serif;
      margin-bottom: 0.3rem;
    }
  }
  .title {
    font-family: arial, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 0.3rem;
    word-wrap: break-word;

    &:hover {
      text-decoration: underline;
    }
  }
  .snippet {
    color: #4d5156;
    font-family: arial, sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 500px) {
  .all-response-container {
    grid-template-columns: 1fr;
    padding: 0.7rem 0.7rem;
    padding-top: 0;
    .space-filler {
      display: hidden;
    }
  }
  .all-response-content {
    overflow: scroll;
  }
}
