@mixin searchPageFormat {
  display: grid;
  grid-template-columns: 3fr 17fr 7fr auto auto;
  gap: 1rem;
}
// ======================================
//
// Search Page Nav
//
// ======================================
.search-page-nav {
  display: grid;
  padding: 2rem;
  grid-template-columns: 3fr 17fr 7fr auto auto;
  gap: 1rem;
  .search-page-logo {
    height: 30px;
    width: 92px;
    &:hover {
      cursor: pointer;
    }
  }
}
.search-page-search-bar-container {
  display: grid;
  place-items: center;
}
.search-page-nav-image-container {
  display: grid;
  place-items: center;
}
.search-page-search-bar {
  display: grid;
  grid-template-columns: auto 4px 24px 24px;
  gap: 1rem;
  place-items: center;
  width: 100%;
  justify-self: center;
  display: grid;
  padding: 0.8rem;
  padding-left: 1.2rem;
  border: 0.5px solid rgb(209, 209, 209);
  border-radius: 30px;
  @include input-shadow();
  &:hover {
    box-shadow: 0px 0px 3px 2px rgba(200, 200, 200, 0.4);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(200, 200, 200, 0.4);
    -moz-box-shadow: 0px 0px 3px 2px rgba(200, 200, 200, 0.4);
  }

  input {
    border: none;
    font-size: 1rem;
    width: 100%;
    &:focus {
      border: none;
    }

    &:focus-visible {
      outline: none;
    }
  }
}
.search-page-search-bar-divider {
  // margin-right: 3px;
}
.mic-search-container {
  display: grid;
  place-items: center;
  padding-right: 0.5rem;
  justify-self: center;
  img {
    width: 24px;
    height: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}
.search-page-search-icon-container {
  border: none;
  background: transparent;
}
.search-page-search-icon {
  color: #4285f4;
  width: 100%;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}
.search-page-apps-icon-container {
  margin: auto;
}
.search-page-user-icon-container {
  display: grid;
  place-items: center;
}
// =============================================
//
// Serach Page Nav List
//
// ================================================
.search-page-nav-list-container {
  display: grid;
  padding: 0 2rem;
  grid-template-columns: 3fr 17fr 7fr auto auto;
  gap: 1rem;
  a {
    text-decoration: none;
  }
}
.search-page-nav-list {
  max-width: 100%;

  display: flex;
  // justify-content: center;
  align-items: center;
  div {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
  }
  li {
    list-style: none;
    // font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: 1rem;
    color: #70757a;
    font-family: Google Sans, arial, sans-serif;
    padding: 0 4px;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    color: #4285f4;
    border-bottom: #4285f4 solid 3px;
    // padding: 4px;
    border-radius: 2px;
  }
}
.search-page-nav-list-text {
  margin-left: 0.5rem;
}
.search-page-nav-list-icon {
  display: grid;
  place-items: center;
  padding: 2px;
}
.books-icon {
  height: 10px;
}
.blue {
  color: #4285f4;
}
// ========================================================
//
// media query
//
// ========================================================
@media screen and (max-width: 850px) {
  .search-page-nav {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }
  .search-page-apps-icon-container {
    display: none;
  }
  .search-page-user-icon-container {
    display: none;
  }
  // =================================
  //
  // Search Page nav List
  //
  // ===============================
  .search-page-nav-list-container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    .space-filler {
      display: none;
    }
  }
  .search-page-nav-list {
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (max-width: 500px) {
  .search-page-nav {
    padding-bottom: 1rem;
  }
  .search-page-nav-list {
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.search-page-nav-list {
  li {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .search-page-nav-list-icon {
    display: none;
  }
  .search-page-nav-list-text {
    margin: 0;
  }
}
