.search-page-nav {
  display: grid;
  padding: 2rem;
  grid-template-columns: 3fr 17fr 7fr auto auto;
  gap: 1rem;
  .search-page-logo {
    height: 30px;
    width: 92px;
    &:hover {
      cursor: pointer;
    }
  }
}
.search-page-search-bar-container {
  display: grid;
  place-items: center;
}
.search-page-nav-image-container {
  display: grid;
  place-items: center;
}
.search-page-search-bar {
  display: grid;
  grid-template-columns: auto 4px 24px 24px;
  gap: 1rem;
  place-items: center;
  width: 100%;
  justify-self: center;
  display: grid;
  padding: 0.8rem;
  padding-left: 2rem;
  border: 0.5px solid rgb(209, 209, 209);
  border-radius: 30px;
  @include input-shadow();
  &:hover {
    box-shadow: 0px 0px 3px 2px rgba(200, 200, 200, 0.4);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(200, 200, 200, 0.4);
    -moz-box-shadow: 0px 0px 3px 2px rgba(200, 200, 200, 0.4);
  }

  input {
    border: none;
    font-size: 1rem;
    width: 100%;
    &:focus {
      border: none;
    }

    &:focus-visible {
      outline: none;
    }
  }
}
.search-page-search-bar-divider {
  // margin-right: 3px;
}
.mic-search-container {
  display: grid;
  place-items: center;
  padding-right: 0.5rem;
  justify-self: center;
  img {
    width: 24px;
    height: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}
.search-page-search-icon {
  color: #4285f4;
}
.search-page-apps-icon-container {
  margin: auto;
}
