// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

// Global imports
@import "./Global/NavbarDropDown";

// Home Page Imports
@import "./HomePage/Navbar";
@import "./HomePage/HomePageHero";
@import "./HomePage/VoiceSearch";
@import "./HomePage/VoiceSearchError";
@import "./HomePage/HomePage";

// Search Page Imports
@import "./SearchPage/SearchPage";
@import "./SearchPage/SearchPageNavbar";
@import "./SearchPage/AllResponse";
