@import "./HomePage/Navbar";
@import "./HomePage/HomePageHero.scss";
@import "./HomePage/VoiceSearch";
@import "./HomePage/VoiceSearchError";
@import "./HomePage/HomePage";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
