// ======================================================
//
//  Variables
//
// =======================================================
$animation-color: rgba(90, 89, 89, 0.1);
@mixin animation1 {
  box-shadow: 0px 0px 0px 8px $animation-color;
  -webkit-box-shadow: 0px 0px 0px 8px $animation-color;
  -moz-box-shadow: 0px 0px 0px 8px $animation-color;
}
@mixin animation2 {
  box-shadow: 0px 0px 0px 20px $animation-color;
  -webkit-box-shadow: 0px 0px 0px 20px $animation-color;
  -moz-box-shadow: 0px 0px 0px 20px $animation-color;
}
@mixin animation3 {
  box-shadow: 0px 0px 0px 40px $animation-color;
  -webkit-box-shadow: 0px 0px 0px 40px $animation-color;
  -moz-box-shadow: 0px 0px 0px 40px $animation-color;
}

// =======================================================
//
// Styles
//
// ========================================================
.voice-search {
  width: 100vw;
  height: 100vh;
}
.voice-search-nav {
  padding: 1.3rem;
  display: flex;
  justify-content: flex-end;
}
.voice-search-close-icon {
  color: gray;
  &:hover {
    cursor: pointer;
  }
}

.voice-search-hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 3rem;
    color: gray;
    justify-self: end;

    margin-right: 7rem;
  }
}
.voice-search-icon-container {
  border-radius: 50%;
  height: auto;
  padding: 2rem;
  height: 144px;
  width: 144px;
  display: grid;
  place-items: center;
  box-shadow: 0px 0px 27px -13px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 27px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 27px -13px rgba(0, 0, 0, 0.5);

  &:hover {
    cursor: pointer;
  }
}
.voice-search-icon {
  color: gray;
  transform: scale(2.5);
}

@media screen and (max-width: 500px) {
  .voice-search-hero {
    display: grid;
    gap: 4rem;
    p {
      justify-self: center;
      margin: 0;
      align-self: flex-end;
    }
    div {
      display: grid;
      place-items: center;
      align-self: flex-start;
    }
  }
}
// =====================================
//
//  Animations
//
// =====================================

.animation {
  animation-duration: 5s;
  animation-name: boxShadow;
  animation: boxShadow 4s infinite;
}
@keyframes boxShadow {
  0% {
    @include animation3();
  }
  25% {
    @include animation2();
  }
  75% {
    @include animation3();
  }
  100% {
    @include animation2();
  }
}

// =========================================
//
//   colors
//
// ========================================
.gray {
  color: gray;
}
.red {
  color: red;
}
.white {
  color: white;
}
.background-red {
  background: red;
}
.background-white {
  background: white;
}
